.mario-wrapper {
  width: 100%;
  overflow: hidden;
}
.sky {
  width: 100%;
  background-color: lightblue;
  height: 300px;
}
.grass {
  width: 100%;
  background-color: seagreen;
  height: 200px;
}
.road,
.sky,
.grass {
  position: relative;
}

.road {
  background-color: dimgray;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}

.lines {
  position: absolute;
  width: 100%;
  border-top: 10px dashed white;
  top: 45%;
}
.cloud-img {
  position: absolute;
}
.cloud-img:nth-child(1) {
  width: 200px;
  top: 120px;
  opacity: 0.5;
  animation: wind 80s linear infinite reverse both;
}
.cloud-img:nth-child(2) {
  width: 300px;
  top: 0;
  animation: wind 50s linear infinite reverse both;
}

.mario-driving-img {
  width: 8%;
  top: -40px;
  position: absolute;
  left: 0;
  animation: drive 3s infinite linear both, jump 0.5s 1.2s ease;
}

.luigi-img {
  position: absolute;
  width: 8%;
  top: 70px;
  left: 0;
  z-index: 10;
  animation: drive 5s infinite both;
  animation-timing-function: linear;
}

.mashroom-img {
  width: 5%;
  position: absolute;
  bottom: 20px;
  left: 15%;
  animation: mashroom-jump 1s infinite;
}

/*  */
.bigger-sky {
  height: 500px;
  margin-top: 50px;
}

.hill-img {
  width: 30%;
  position: absolute;
  bottom: 0;
}

.bush-img {
  width: 5%;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.money-box-img {
  width: 5%;
  position: absolute;
  left: 60%;
  bottom: 35%;
}

.mario-img {
  width: 100px;
  bottom: 0;
  position: absolute;
  left: 40%;
}

.mario-jump-img {
  width: 100px;
  bottom: 0;
  position: absolute;
  left: 59%;
  animation: jump 1s infinite;
}

.money-img {
  position: absolute;
  width: 50px;
  left: 62.5%;
  bottom: 48%;
  animation: coin-animation 1s infinite;
  transform: translateX(-50%);
  /* display: none; */
}
/* @keyframes jump {
  
} */
@keyframes coin-animation {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50px);
    opacity: 0;
  }
}

/* Mario animation  */
@keyframes drive {
  from {
    transform: translateX(-200px);
  }

  to {
    transform: translateX(100vw);
  }
}

@keyframes wind {
  from {
    left: -300px;
  }
  to {
    left: 100vw;
  }
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 18%;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes money-jump {
  0% {
    bottom: 48%;
    display: none;
  }
  50% {
    bottom: 55%;
    display: block;
  }
  100% {
    bottom: 48%;
    display: none;
  }
}
@keyframes mashroom-jump {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 20px;
  }
}
